extends ../base 
include ../mixins/video

block content 
    div.profile__data
        if user.avatarUrl 
            if isHeroku
                img(src=user.avatarUrl).avatar 
            else
                img(src="/"+user.avatarUrl).avatar 
        else 
            img.avatar(src="https://user-images.githubusercontent.com/77392219/195795944-32e7969d-4142-4a9e-865b-d2ef2d3784c4.jpg")

        h3=user.name
    div.video-grid
        each video in user.videos 
            +video(video)
        else    
            span.empty__message No videos found